* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    Background-attachment: fixed;
}

/* ==================== header ===================== */
h1 {
    font-size: 44px;
    text-align: center;
    padding-top: 50px;
}

/* ===================== main ====================== */
main {
    min-height: calc(100vh - 110px);
    /* ajusta conforme a altura real do header */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    overflow: hidden;
    height: 450px;
    width: 450px;

    border-radius: 25px;
    box-shadow: 0px 0px 10px #000000;

    backdrop-filter: blur(10px);
    background-color: #ffffff4c;
}

h2 {
    text-align: center;
}

.form-wrapper {
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.form {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

input:focus+label,
input:not(:placeholder-shown)+label {
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: #5598A9;
    text-shadow: none;
}

input {
    width: 100%;
    padding: 12px 00px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
}

.input-label {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #ffffff;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.2s ease-out;
    background-color: transparent;
    padding: 0 4px;
}

#eml {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

#toggleSenha {
    padding: 10px;
    border-radius: 50%;
    border: solid 1.5px;
    position: absolute;
    right: 10px;
    box-shadow: 0px 0px 5px black;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
}

.lh {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 1px;
}

.relember {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;

}

i {
    color: white;
}

a:hover {
    text-decoration: underline;
}

.relember-password,
input {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    cursor: pointer;
}

.relember-password:hover {
    text-decoration: underline;
}


.button-container {
    display: flex;
    justify-content: center;
    margin: 30px 60px 10px 60px;
}

button {
    padding: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #CE4F26;
    white-space: nowrap;
    width: 220px;
}

button:hover {
    background-color: #C5441C;
}

p {
    text-align: center;
    margin: 20px 20px;
}

.btn button {
    background-color: white;
    display: flex;
    width: auto;
    padding: 10px 20px;

}

.btn {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.google-btn,
.facebook-btn,
.apple-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    font-size: 16px;
}

.icon {
    width: 20px;
    height: 20px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;

}

.register p {
    margin-top: 25px;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.0) inset !important;
    box-shadow: 0 0 0 1000px #ce502675 inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

#reset-password {
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

#back-to-login-container {
    text-align: center;
    margin-top: 20px;
}